[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pynamodb = "*"
flask-script = "*"
flask-login = "*"
flask-sessionstore = "*"
boto3 = "*"
zappa = "*"

[dev-packages]

[requires]
python_version = "3.8"
