[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.2"
pynamodb = "*"
flask-script = "*"
jinja2 = "==2.11.3"
itsdangerous = "==1.1.0"
werkzeug = "==0.16.1"
markupsafe = "==1.1.1"

[dev-packages]

[requires]
python_version = "3.8"
